<div class="container fade-in fixed-bottom">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-dismissible alert-light border border-secondary">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Made with <strong>
                    <fa-icon [icon]="['fab', 'js-square']"></fa-icon>
                    <span class="ml-2 mr-1">
                        <fa-icon [icon]="['fab', 'angular']"></fa-icon>
                    </span>
                    <span class="ml-1 mr-2">
                        <fa-icon [icon]="['fab', 'css3-alt']"></fa-icon>
                    </span>
                    <fa-icon [icon]="['fab', 'node-js']"></fa-icon>
                </strong> by <a href="mailto:calonso011@yahoo.com.mx" class="alert-link"
                    style="text-decoration: none;">Carlos Alonso Casales Ortega</a>
            </div>
        </div>
    </div>
</div>