<div class="container fade-in fixed-bottom">
    <div class="row">
        <div class="col-md-12 pl-0 pr-0">
            <div class="alert alert-dismissible alert-light border border-secondary">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Made with <strong>
                    <fa-icon [icon]="['fab', 'angular']"   class="ml-1 mr-1"></fa-icon>
                    <fa-icon [icon]="['fab', 'js-square']" class="ml-1 mr-1"></fa-icon>
                    <fa-icon [icon]="['fab', 'bootstrap']" class="ml-1 mr-1"></fa-icon>
                    <fa-icon [icon]="['fab', 'node-js']"   class="ml-1 mr-1"></fa-icon>
                </strong> by <a href="mailto:calonso011@yahoo.com.mx" class="alert-link"
                    style="text-decoration: none;">Carlos Alonso Casales Ortega</a>
            </div>
        </div>
    </div>
</div>