<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <h4>
          <fa-icon [icon]="['fab', 'angular']"></fa-icon> ng-app
      </h4>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto"> 
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" 
           routerLink="/game-list">
            <h4>
                <fa-icon [icon]="['fas', 'trophy']"></fa-icon> Top Games
            </h4>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" 
           routerLink="/game-search">
            <h4>
              <fa-icon [icon]="['fas', 'search']"></fa-icon> <strong> Search Game</strong>
            </h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav link" (click)="switchTheme()">
          <button type="button" class="btn btn-secondary">
            <fa-icon [icon]="['far', themeStatusIcon]"></fa-icon> {{themeStatusLabel}}
          </button>
        </a>
      </li>
    </ul>
    <form [formGroup]="searchFormNavbar" class="form-inline my-2 my-lg-0"
          (ngSubmit)="searchGame()">
      <input class="form-control mr-sm-2 tooltip-navbar" type="text" placeholder="Search games here" id="searchNavBar" 
             formControlName="searchTermNavbarField" autocomplete="off"
             data-toggle="tooltip" data-placement="top" title="" data-original-title="What are you searching?">
      <button class="btn btn-secondary my-2 my-sm-0" type="button"
              (click)="searchGame()"><i class="fas fa-search"></i> Search
      </button>
    </form>
  </div>
</nav>