<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container fade-in mb-4">
   <div class="row">
        <div class="col-md-12">
            <div class="alert alert-dismissible alert-light">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Made with <strong>
                    <fa-icon [icon]="['fas', 'heart']"></fa-icon>
                </strong> by <a href="mailto:calonso011@yahoo.com.mx" class="alert-link">Carlos Alonso Casales Ortega</a>
            </div>
        </div>
   </div>
</div>