.jumbotron {
  display: flex;
  align-items: center;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.title-label {
  background-color: var(--light);
  display: inline-block;
  color: #F06529;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}
.subtitle-label {
  background-color: var(--light);
  display: inline-block;
  color: #F06529;
  font-weight: 100;
}

.jumbotron h3 {
  color: var(--light);
  font-weight: bold;
}

.game-title{
    font-weight: 600;
}

.description-elipsis{
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}