.jumbotron {
  display: flex;
  align-items: center;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.title-label {
  background-color: var(--light);
  display: inline-block;
  color: #F06529;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}
.subtitle-label {
  background-color: var(--light);
  display: inline-block;
  color: #F06529;
  font-weight: 100;
}

.jumbotron h3 {
  color: var(--light);
  font-weight: bold;
}

.game-title{
    font-weight: 600;
}

.description-elipsis{
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  position: relative;
  background-color: var(--gray-dark);
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--gray-dark);
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background:var(--gray-dark) no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}