<section class="jumbotron" [ngStyle]="backgroudImage" *ngIf="!notFound && !loader">
    <div class="container">
        <div class="row text-center">
            <h2 class="title-label">{{Game.name}} <span *ngIf="Game.publishers" class="subtitle-label">by {{Game.publishers[0].name}}</span></h2>
        </div>
    </div>
</section>
<!-- Boostrap detail https://bootsnipp.com/snippets/orOGB -->
<div class="container mb-4" *ngIf="!notFound && !loader">
    <div class="card fade-in">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <!-- {{Game | json}} -->
                    <div class="img-big-wrap pl-3 pt-3">
                        <img *ngIf="Game.background_image" [defaultImage]="defaultImage" [lazyLoad]="Game.background_image" class="img-fluid item-gallery">
                        <img *ngIf="!Game.background_image" src="{{defaultImage}}" class="img-fluid item-gallery">
                    </div>
                    <div class="img-small-wrap pl-3 pt-3">
                        <img *ngIf="Game.background_image_additional" [defaultImage]="defaultImage" [lazyLoad]="Game.background_image_additional" class="img-fluid item-gallery">
                    </div> 
                </article>
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h1 class="title mb-3 game-title">{{Game.name}}</h1>
                    <p class="price-detail-wrap">
                        <span class="price h3 text-warning">
                            <span *ngFor="let platform of Game.platforms; index as i;" class="currency">{{platform.platform.name}} <span *ngIf="i != Game.platforms.length - 1"> - </span></span>
                            <!-- <span class="currency">{{Game.platforms | json}}</span> -->
                        </span>
                        <span *ngIf="Game.esrb_rating" class="pl-2">{{Game.esrb_rating.name}}</span>
                    </p>
                    <dl *ngIf="Game.ratings" class="param param-feature">
                        <h4>Reactions <fa-icon [icon]="['fas', 'grin-tongue-wink']"></fa-icon>
                        </h4>
                        <dd>
                            <span *ngIf="Game.ratings[0]" class="badge badge-primary">{{Game.ratings[0].title}}
                                {{Game.ratings[0].count}}</span><span class="divider pl-1 pr-1"></span>
                            <span *ngIf="Game.ratings[1]" class="badge badge-secondary">{{Game.ratings[1].title}}
                                {{Game.ratings[1].count}}</span><span class="divider pl-1 pr-1"></span>
                            <span *ngIf="Game.ratings[2]" class="badge badge-success">{{Game.ratings[2].title}}
                                {{Game.ratings[2].count}}</span><span class="divider pl-1 pr-1"></span>
                            <span *ngIf="Game.ratings[3]" class="badge badge-info">{{Game.ratings[3].title}}
                                {{Game.ratings[3].count}}</span>
                        </dd>
                    </dl>
                    <dl class="item-property">
                        <h4>Description <fa-icon [icon]="['fas', 'info-circle']"></fa-icon></h4>
                        <dd>
                            <section>{{Game.description | htmlToText}}</section>
                        </dd>
                    </dl>
                    <dl *ngIf="Game.released" class="param param-feature">
                        <h4>Released <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon></h4>
                        <dd>{{Game.released}}</dd>
                    </dl>
                    <dl *ngIf="Game.website" class="param param-feature">
                        <h4>Website <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon></h4>
                        <dd><a href="{{Game.website}}" target="_blank">{{Game.website}}</a></dd>
                    </dl>
                </article>
            </aside>
        </div>
    </div>
</div>
<app-game-loader [noResults-param]="noResults" 
                 [loader-param]="loader"
                 [httpErrorMessage-param]="httpErrorMessage"
                 [httpErrorCode-param]="httpErrorCode"></app-game-loader>