<div class="mb-4"></div>
<div class="container" *ngIf="!loader && results">
    <div class="row">
            <div class="col-md-12 pl-0 pb-4">
                <h2>Top games by Platform <span class="font-weight-bold" *ngIf="!platform">{{platformSelected | titlecase}}</span></h2>
                <button type="button" class="btn btn-primary ml-1 mr-1 mt-1 mb-1" (click)="gameList('playstation')">Playstation <fa-icon [icon]="['playstation' | iconGenerator:'prefix':'platform', 'playstation' | iconGenerator:'logo':'platform']"></fa-icon></button>
                <button type="button" class="btn btn-primary ml-1 mr-1 mt-1 mb-1" (click)="gameList('xbox')">Xbox One <fa-icon [icon]="['xbox-one' | iconGenerator:'prefix':'platform', 'xbox-one' | iconGenerator:'logo':'platform']"></fa-icon></button>
                <button type="button" class="btn btn-primary ml-1 mr-1 mt-1 mb-1" (click)="gameList('nintendo')">Nintendo <fa-icon [icon]="['nintendo' | iconGenerator:'prefix':'platform', 'nintendo' | iconGenerator:'logo':'platform']"></fa-icon></button>
                <button type="button" class="btn btn-primary ml-1 mr-1 mt-1 mb-1" (click)="gameList('pc')">PC <fa-icon [icon]="['pc' | iconGenerator:'prefix':'platform', 'pc' | iconGenerator:'logo':'platform']"></fa-icon></button>
                <button type="button" class="btn btn-primary ml-1 mr-1 mt-1 mb-1" (click)="gameList('ios')">iOS <fa-icon [icon]="['ios' | iconGenerator:'prefix':'platform', 'ios' | iconGenerator:'logo':'platform']"></fa-icon></button>
                <button type="button" class="btn btn-primary ml-1 mr-1 mt-1 mb-1" (click)="gameList('android')">Android <fa-icon [icon]="['android' | iconGenerator:'prefix':'platform', 'android' | iconGenerator:'logo':'platform']"></fa-icon></button>
                <button type="button" class="btn btn-primary ml-1 mr-1 mt-1 mb-1" (click)="gameList('other')">Other <fa-icon [icon]="['other' | iconGenerator:'prefix':'platform', 'other' | iconGenerator:'logo':'platform']"></fa-icon></button>
            </div>
    </div>
</div>
<div *ngIf="!loader">
    <app-game-card [games-param]="Games"></app-game-card>
    <app-back-to-top *ngIf="results"></app-back-to-top>
</div>
<app-game-loader [noResults-param]="noResults" [loader-param]="loader"></app-game-loader>